html{
    background: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    display: flex;
    height: 100%;
}
  
h1, h2 {
    color: #444;
}
  
label {
    font-weight: bold;
}
  
form {
    margin-top: 10px;
    margin-bottom: 20px;
}
  
input, select {
    margin-bottom: 10px;
    padding: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: end;
}

button {
    padding: 0.5rem 1rem;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.sidebar {
    width: 220px;
    background: #2c3e50;
    color: white;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.sidebar h2 {
    color: white;
}

.sidebar a {
    display: block;
    margin: 1rem 0;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.main {
    flex: 1;
    padding: 2rem;
    background: #ecf0f1;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    margin: 0.5rem 0;
}

.card p {
    margin: 0.2rem 0;
    color: #555;
}

.card a {
    display: inline-block;
    margin-top: 1rem;
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
}
.card a:hover {
    text-decoration: underline;
}